<nav style="display: flex; flex-flow: row; justify-content: center; gap: 20px; padding: 16px; background: #1976d2; color: white;">
  <ul style="display: flex; flex-flow: row; gap: 20px; padding: 1.5 erm; list-style: none;">
    <li><a [routerLink]="['/home']" style="color: antiquewhite; text-decoration: none;">home</a></li>
    <li><a [routerLink]="['/cart']" style="color: antiquewhite; text-decoration: none;">cart</a></li>
    <li><a [routerLink]="['/login']" style="color: antiquewhite; text-decoration: none;">login</a></li>
    <li><a [routerLink]="['/register']" style="color: antiquewhite; text-decoration: none;">register</a></li>
  </ul>
</nav>